<%- include('../partials/head') %>

    <body>

        <main class="login">
            <section class="login__section">
                <h1>Login</h1>
            </section>
        </main>

        <%- include('../partials/footer') %>