<%- include('../partials/head') %>

    <body>
        <main class="show">
            <section class="show__section">
                <h1 class="show__title">World's best SMS templating service.</h1>
                <div class="show__actions">
                    <a href="/users/login" class="btn button">Login</a>
                    <a class="btn button">Sign up</a>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>